/* This is a comment*/

/* CSS Syntax:

selector {
  propterty : value; 
  propterty : value;
}

*/
/* Type selector */

p { /* select all <p> */
font-size: 16px; /* 16px, ?pt, 100%, 1em */
line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: .75em;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", serif;*/
  font: normal 0.75em/1.5em Georgia, "Times New Roman", serif;
  color : #0000;
  
}